<footer>
<div class="footer_module">
    © 2020 Other People<br><br>
        COLLECTION NO.1 — Spring 2020
        <br><br>
        <a href="http://facebook.com/otherpeopleucsd" target="blank">
            <i class="fab fa-facebook-square">
        </i></a>
        <a href="http://instagram.com/otherpeoplesd" target="blank">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="mailto:otherpeoplesd@gmail.com?subject=Hello, Other People">
            <i class="far fa-envelope"></i>
        </a>

</div>
</footer>