<footer>
    <div class="footer_container">

        <div class="footer_intro">
            © 2020 OTHER PEOPLE

        </div>

        <div class="footer_module">
                <li>
                    <a href="" target="blank">
                   
                    </a>
                </li>
                <li>
                    <a href="" target="blank">
                  
                    </a>
                </li>
                <li>
                    <a href="">
                 
                    </a>
                </li>
        </div>

        <div class="footer_module">
            <li>
                <a href="https://forms.gle/EExHtyKMcwwvv7dg9" target="blank">
                    Submissions
                </a>
            </li>
            <li>
                <a href="" target="blank">
                    Newsletter
                </a>
            </li>
            <li>
                <a href="{{ site.url }}{{ site.baseurl }}/team">
                    About us
                </a>
            </li>
    </div>

        <div class="footer_module">
                <li>
                    <a href="http://facebook.com/otherpeopleucsd" target="blank">
                        Facebook
                    </a>
                </li>
                <li>
                    <a href="http://instagram.com/otherpeoplesd" target="blank">
                        Instagram
                    </a>
                </li>
                <li>
                    <a href="mailto:otherpeoplesd@gmail.com?subject=Hello, Other People">
                        Contact
                    </a>
                </li>
        </div>

    </div>
</footer>