


<div class="nav">

    <h1>
        <a href="{{ site.url }}{{ site.baseurl }}">Home</a>
        <hr>
        /
        <hr>
        <a href="{{ site.url }}{{ site.baseurl }}/poetry">Poetry</a>
        <hr>
        <a href="{{ site.url }}{{ site.baseurl }}/fiction">Fiction</a>
        <hr>
        <a href="{{ site.url }}{{ site.baseurl }}/nonfiction">Nonfiction</a>
        <hr>
        <a href="{{ site.url }}{{ site.baseurl }}/art">Art</a>
      
      <!-- <hr>
      /
      <hr>
      <a>Events</a>
      <hr> -->


    </h1>
  </div>

  <div class= "darkmode">

  <a id="theme-toggle" onclick="modeSwitcher()"></a>
</div>

<!-- <div class="side_text_left">collection no.1</div>
<div class="side_text_right">collection no.1</div> -->

{% include darkmode.html %}

{% include mobile_nav.html %}