<div class="contact">

    <div class="contact_child">
    © 2020 Other People<br><br>
        COLLECTION NO.1 — Spring 2020
        <br><br>
        <a href="http://facebook.com/otherpeopleucsd" target="blank">
            <i class="fab fa-facebook-square">
        </i></a>
        <a href="http://instagram.com/otherpeoplesd" target="blank">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="mailto:otherpeoplesd@gmail.com?subject=Hello, Other People">
            <i class="far fa-envelope"></i>
        </a>
    </div>

</div>

<div class="landing">
    <div class="landing_content">
        A place to <i>explore</i> the timeless human experience;
    </div>
</div>

<div class="landing">
    <div class="landing_content">
        a place to <i>revere</i> the joys and struggles of our journeys through life;
    </div>
</div>

<div class="landing">
    <div class="landing_content">
        a place to <i>celebrate</i> the uniqueness of the human spirit;
    </div>
</div>

<div class="landing">
    <div class="landing_content">
        through language — art — image — technology.
    </div>
</div>

<div class="blank"></div>




