<div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">

        <?xml version="1.0" encoding="utf-8"?>
        <!-- Generator: Adobe Illustrator 24.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1200 1200" style="enable-background:new 0 0 1200 1200;" xml:space="preserve">

            <path class="st0" d="M669.2,600.3l516.4-516.4c19.1-19.1,19.1-50.1,0-69.3c-19.1-19.1-50.2-19.1-69.3,0L599.9,531.1L83.5,14.6
	c-19.1-19.1-50.2-19.1-69.3,0c-19.1,19.1-19.1,50.1,0,69.3l516.4,516.4L14.3,1116.8c-19.1,19.1-19.1,50.2,0,69.3
	c9.6,9.6,22.1,14.3,34.6,14.3c12.5,0,25.1-4.8,34.6-14.3l516.4-516.4l516.4,516.4c9.6,9.6,22.1,14.3,34.6,14.3
	c12.5,0,25.1-4.8,34.6-14.3c19.1-19.1,19.1-50.2,0-69.3L669.2,600.3z"/>
        </svg>

    </a>

    <div class="overlay-content">
        <h1>
            <a href="{{ site.url }}{{ site.baseurl }}">OTHER PEOPLE</a>
            <h3>Much love from<br>University of California, San Diego</h3>
            <br>
        
        <br><br>
            <a href="{{ site.url }}{{ site.baseurl }}/poetry">Poetry</a>
            <hr>
            <a href="{{ site.url }}{{ site.baseurl }}/fiction">Fiction</a>
            <hr>
            <a href="{{ site.url }}{{ site.baseurl }}/nonfiction">Nonfiction</a>
            <hr>
            <a href="{{ site.url }}{{ site.baseurl }}/art">Art</a>
          <hr>
            <!-- <hr>
      /
      <hr>
      <a>Events</a>
      <hr> -->

        </h1>

    </div>

</div>

<span style="font-size:30px;cursor:pointer" onclick="openNav()">

    <?xml version="1.0" encoding="utf-8"?>
    <!-- Generator: Adobe Illustrator 24.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1200 1200" style="enable-background:new 0 0 1200 1200;" xml:space="preserve">

        <g>
            <circle class="st0" cx="1088.9" cy="111.1" r="111.1"/>
            <circle class="st0" cx="111.1" cy="111.1" r="111.1"/>
            <circle class="st0" cx="1088.9" cy="1088.9" r="111.1"/>
            <circle class="st0" cx="111.1" cy="1088.9" r="111.1"/>
        </g>
    </svg>

</span>

<script>
    function openNav() {
        document
            .getElementById("myNav")
            .style
            .width = "100%";
    }

    function closeNav() {
        document
            .getElementById("myNav")
            .style
            .width = "0%";
    }
</script>