// * {
//   border-style: solid;
//   border-width: 1px;
// }



html,body {
  height: 100%;
}


footer {
  position: relative;
  font-size: 0.9rem;
  // position: relative;
  margin: auto;
  width: 100%;
  color: $backgroundColor;
  background-color: $bodyColor;
  padding: 42px 0 42px 0;
  margin-top: $block5;
  z-index: 3;

}



.footer_container {

  display: grid;
  grid-template-columns: auto auto auto auto;

  border-style: solid;
  border-width: 0 0 0px 0;
  width: 95%;
  margin: auto;
  z-index: 3;
}

.footer_intro {
font-size: .7rem;
  font-family: "basier_circleregular";
  list-style-type: none;
fill: $backgroundColor;
  line-height: 1.5rem;

  a {
    text-decoration: none;
    color: $backgroundColor;
  }
  a:hover {
    text-decoration: line-through;
  }
  svg {
    width: $block5;
    fill: $backgroundColor;
    margin-bottom: $block2;
  }
}

.footer_module {
  font-family: "basier_circleregular";
  font-size: 0.8rem;
  text-transform: uppercase;
  opacity: 0.5;
  font-weight: 300;

  text-align: right;
  list-style-type: none;

  line-height: 1.5rem;

  a {
    text-decoration: none;
    color: $backgroundColor;
  }
  a:hover {
    text-decoration: line-through;
  }
}

@media only screen and (max-width: 728px) {
  .footer_container {

    grid-template-columns: auto ;
  }
  .footer_intro, .footer_module {
    text-align: left;
    padding: $block2;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 729px) {
  .footer_container {
    width: 90%;
  }
  footer {
margin-top: $block4;
  }
}




@media screen and (min-width: 2400px) {


  footer {

    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    
  }

  .footer_container {
    width: 65%;
  }
}
