header {
    position: fixed;
  color: $bodyColor;
  fill: $bodyColor;
  display: flex;
  width: 100%;
  padding: 32px 0 0 0;
  z-index: 2;
  a {
      font-size: $p;
      color: $bodyColor;

      text-decoration: none;
  }
  a:hover {
      cursor: pointer;
      opacity: .5;
  }
}

.block {
    width: 100%;
    text-align: center;
    svg {
        width: 2.5rem;
        fill: $bodyColor;
        opacity: 1;
    }
}


.side_text_left {
    font-size: $fontSize;
    margin: 0;
    position: fixed;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transform: rotate(-90deg);
    left: 15px;
    text-align: center;
    z-index: 2;
}

.side_text_right {
    font-size: $fontSize;
    margin: 0;
    position: fixed;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transform: rotate(90deg);
    right: 15px;
    text-align: center;
    z-index: 2;
}

@media only screen and (max-width: 728px) {
    .side_text_left, .side_text_right{
        display: none;
    }
}
