// * {
//   border-style: solid;
//   border-width: 1px;
// }

.featured_image {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
    display: block;
    margin: auto;
    object-fit: cover;
    opacity: 1;
  }
}

.title,
.index_body {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.index_body {
  margin: auto;
  width: 95%;
  position: relative;
  padding: $block2 0 $block4 0;

  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}

.title {
  font-family: "basier_circlesemi";
  font-size: 8rem;
  text-align: left;
  line-height: 8rem;
  margin-left: -$block1;

  h3 {
    letter-spacing: initial;
    line-height: 1.5rem;
    margin-left: $block1;
  }
}

.category {
  padding-bottom: $block3;
  font-family: "basier_circlesemi";
  font-size: 0.8rem;
  text-transform: uppercase;
  opacity: 0.5;
}

.index_column_child {
  padding-top: $block4;

  display: grid;
  grid-template-columns: auto;
}

.index_column {
  display: grid;
  grid-template-columns: auto;
  border-style: solid;
  border-width: 0 0 0px 0;
  width: 60%;
  margin-top: $block2;
  margin-bottom: $block5;
}

.button {
  font-family: "basier_circlemono";
  font-size: 0.9rem;
  background-color: $backgroundColor;
  border: 2px solid $bodyColor;
  text-decoration: none;
  color: $bodyColor;
  text-align: center;
  transition: 0.3s ease;
  padding: $block1 $block2 $block1 $block2;
  cursor: pointer;
  a {
    text-decoration: none;
    color: $bodyColor;
  }
}
.button:hover {
  color: $backgroundColor;
  background-color: $bodyColor;
  a {
    text-decoration: none;
    color: $backgroundColor;
  }
}

.recent_works_parent {
  display: grid;

  text-align: left;
  width: 100%;
  /* auto minimum width, causing problem */
  grid-template-columns: 1fr 1fr 1fr;
  /* fix: minimum width of 0 */
  grid-template-columns: minmax(0, 1fr 1fr 1fr);
}

.recent_works_art_parent {
  display: grid;

  text-align: left;
  width: 100%;
  /* auto minimum width, causing problem */
  grid-template-columns: 1fr 1fr;
  /* fix: minimum width of 0 */
  grid-template-columns: minmax(0, 1fr 1fr);
}

.thumb {
  overflow: hidden;
  margin-bottom: $block3;
  img {
    height: 320px;
    width: 100%;

    object-fit: cover;
  }
  img:hover {
    opacity: 0.5;
    transition: 0.3s;
  }
}

.thumb2 {
  overflow: hidden;
  margin-bottom: $block3;
  img {
    height: 192px;

    width: 100%;
    margin-bottom: $block2;
    object-fit: cover;
  }
  img:hover {
    opacity: 0.5;
    transition: 0.3s;
  }
}

.recent_works {
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  font-size: 2rem;
  margin-bottom: $block3;
  padding-right: $block3;
  text-overflow: ellipsis;

  h1 {
    margin-bottom: -4px;
    margin-top: -0.2px;
    transition: .3s ease;

  }
  h1:hover {
    font-family: ogg;

    line-height: 2.3rem;
  }
  h1,
  h2,
  h3 {
    padding: 0 0 0 $block3;
    margin: 0 0 0.7rem 0;
  }
  h3 {
    line-height: 1rem !important;
  }
  a {
    text-decoration: none;
    color: $bodyColor;
  }
}

.recent_works_art {
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  font-size: 2rem;
  margin-bottom: $block3;

  text-overflow: ellipsis;
  h1 {
    line-height: 2rem;
    margin-bottom: -4px;
    margin-top: -0.2px;
  }
  .thumb:hover ~ h1 {
    font-family: ogg;
  }
  h1:hover {
    font-family: ogg;
  }
  h1,
  h2,
  h3 {
    padding: 0 0 0 $block3;
  }
  a {
    text-decoration: none;
    color: $bodyColor;
  }
}

.recent_works:hover {
  border-width: 0px 0px 0px 1px;
}

// .landing {
//   line-height: 68px;
//   font-family: "Cardo", serif;
//   // font-style: italic;
//   position: relative;
//   width: 100vw;
//   height: 100vh;
//   font-size: $h1;
//   z-index: 1;
//   text-align: center;
//   background-color: $backgroundColor;
//   // text-transform: uppercase;
//   scroll-snap-align: start;
// }

// .landing_content {
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);
// }

.blank {
  width: 100vw;
  margin-bottom: 100vh;
  scroll-snap-align: start;
}

.contact {
  background-color: $bodyColor;
  color: $backgroundColor;
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
  pointer-events: auto;
  text-align: center;
}

.contact_child {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  i {
    font-size: 1.2rem;
    padding: 12px;
    color: $backgroundColor;
  }
  a {
    text-decoration: none;
  }
}

@media only screen and (max-width: 728px) and (min-width: 321px) {
  .index_column {
    display: grid;
    grid-template-columns: auto;

    width: 95%;
    margin: auto;
    margin-left: $block1;
    margin-bottom: $block5;
  }

  .title {
    margin-top: $block5;
    font-size: 4.2rem;
    hyphens: auto;
    line-height: 4.2rem;
    margin-left: 3px;
  }

  .nav {
    display: none;
    position: relative;
    bottom: 0;
  }

  .recent_works_parent {
    display: grid;
    grid-template-columns: auto;
    text-align: left;
  }

  .recent_works_art_parent {
    display: grid;
    grid-template-columns: auto;
    text-align: left;
    width: 100%;
  }

  .category {
    padding-left: $block1;
  }

  .thumb {
    overflow: hidden;
    margin-bottom: 0;
    img {
      height: 400px;
      width: 100%;
      margin-bottom: $block3;
      object-fit: cover;
    }
    img:hover {
      opacity: 0.5;
    }
  }

  .recent_works,
  .recent_works_art {
    border-style: solid;
    padding-top: 0;
    padding-bottom: $block1;
    border-width: 0 0 1px 0;
    line-height: 0.8rem;
    font-size: 2rem;
    margin-bottom: $block3;
    h1 {
      line-height: 2.5rem;
      margin-top: -$block2;
    }
    h2,
    h3 {
      line-height: 0.8rem;
    }
    h1:hover {
      font-family: ogg;
  
      line-height: 2.5rem;
    }
    h1,
    h2,
    h3 {
      padding: 0 0 0 0;
      padding-left: $block1;
    }
    a {
      text-decoration: none;
      color: $bodyColor;
    }
    a:hover {
      text-decoration: none;
    }
  }

  .recent_works:hover {
    border-width: 0px 0px 1px 0px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 729px) {
  .index_body {
    width: 95%;
  }

  .nav {
    display: none;
  }

  .recent_works_art {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    font-size: 2rem;
    margin-bottom: $block3;

    text-overflow: ellipsis;
  }

  .recent_works_art_parent {
    grid-template-columns: 1fr;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
  .recent_works_parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    width: 100%;
  }

  .title {
    margin-top: $block1;
    font-size: 8rem;
    hyphens: auto;
    line-height: 8rem;
  }

  .thumb {
    img {
      height: 424px;
    }
  }

  .thumb2 {
    img {
      height: 160px;
    }
  }
}

@media screen and (min-width: 2400px) {
  .title {
    margin-top: $block5;
  }
  body {
    width: 70%;
    margin: auto;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-device-width: 320px),
  only screen and (min-device-width: 560px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 3) {
  .title {
    font-size: 4.2rem;
    hyphens: auto;
    line-height: 4.2rem;
    width: 95%;
    margin: $block4 auto auto 3px;
  }

  .index_body {
    width: 95%;
    margin: auto;
  }

  .index_column {
    width: 95%;
    margin: auto auto $block4 auto;
  }

  .recent_works_parent {
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
  }

  .recent_works_art_parent {
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
    width: 100%;
  }

  .category {
    padding-left: $block1;
  }

  .thumb {
    overflow: hidden;
    margin-bottom: 0;
    img {
      height: 400px;
      width: 100%;
      margin-bottom: $block3;
      object-fit: cover;
    }
    img:hover {
      opacity: 0.5;
    }
  }

  .recent_works,
  .recent_works_art {
    border-style: solid;
    padding-top: 0;
    padding-bottom: $block1;
    border-width: 0 0 1px 0;
    line-height: 0.8rem;
    font-size: 2rem;
    margin-bottom: $block3;
    h1 {
      line-height: 2.5rem;
      margin-top: -$block2;
    }
    h2,
    h3 {
      line-height: 0.8rem;
    }
    h1,
    h2,
    h3 {
      padding: 0 0 0 0;
      padding-left: $block1;
    }
    a {
      text-decoration: none;
      color: $bodyColor;
    }
    a:hover {
      text-decoration: none;
    }
  }

  .recent_works:hover {
    border-width: 0px 0px 1px 0px;
  }
}
