$backgroundColor: var(--background-color);
$bodyColor: var(--light-text-color);
$bodyFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";
$fontSize: 0.85rem;
$h1: 3.5rem;
$p: 0.9rem;




html, html[data-theme="light"] { 
  --background-color: #f8f5f0;
  --light-text-color: #151515;
  --link-color: rgb(0, 112, 201);
  --main-background-color: rgb(255, 255, 255);
  --main-text-color: rgb(51, 51, 51);
}

html[data-theme="dark"] {
  --background-color: #151515;
  --light-text-color:#f8f5f0;
  --link-color: rgb(100, 210, 255);
  --main-background-color: rgb(28, 28, 30);
  --main-text-color: rgb(229, 229, 234);
	}

@media (prefers-color-scheme: dark) {
  html, html[data-theme="dark"] {
  --background-color: #151515;
  --light-text-color: #f8f5f0;
  --link-color: rgb(100, 210, 255);
  --main-background-color: rgb(28, 28, 30);
  --main-text-color: rgb(229, 229, 234);
	}
	
	html[data-theme="light"] { 
    --background-color: #f8f5f0;
    --light-text-color: #151515;
    --link-color: rgb(0, 112, 201);
    --main-background-color: rgb(255, 255, 255);
    --main-text-color: rgb(51, 51, 51);
	}
}

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  margin: 0;
  padding: 0;
}
