.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    background-color: $bodyColor;
    overflow-x: hidden;
    transition: 0.2s;

    font-family: "basier_circlesemi";
    font-size: 1.8rem;
    font-weight: 100;
    color: $backgroundColor;
    h3 {
        margin-left: $block2;
    }
}

.overlay-content {
    position: relative;
    top: $block4;
    width: 100%;

    margin-top: 30px;
}

.overlay a {
    text-decoration: none;

    color: $backgroundColor;
    display: block;
    transition: 0.3s;
    margin-left: $block2;
}

.overlay a:hover,
.overlay a:focus {
    text-decoration: line-through;
}

.overlay .closebtn {
    position: absolute;
    top: $block2;
    right: $block2;

    width: $block3;
    fill: $backgroundColor;
}

.nav_title {
    font-size: 4rem;
    hyphens: auto;
    line-height: 4rem;

    h3{
        line-height: 1.5rem;
        font-weight: bold;
    }
}

.nav_column_child {
    width: 95%;
    margin: auto;
    padding-top: $block4;
    display: grid;
    grid-template-columns: auto;
}

span {
    display: none;
    width: $block3;
    position: fixed;
    top: $block2;
    right: $block2;
    z-index: 3;
    svg {
        fill: $bodyColor;
    }
}

@media only screen and (max-device-width: 320px),
  only screen and (min-device-width: 560px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {
    .overlay a {
        margin-left: $block1;

    }


  }

@media only screen and (max-width: 728px) {
    span {
        display: initial;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 729px) {
    span {
        display: initial;
    }

    .overlay a {
        margin-left: $block3;
    }

    .nav_column_child {
        width: 95%;
        margin: auto;
        padding-top: $block4;
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media screen and (max-height: 450px) {
}
