.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    background-color: $bodyColor;
    overflow-x: hidden;
    transition: 0.2s;

    font-family: "basier_circlesemi";
    font-size: 1.8rem;
    font-weight: 100;
    color: $backgroundColor;
    h3 {
        margin-right: $block2;
    }
}

.overlay-content {
    position: relative;
    top: $block5;
    width: 100%;
    text-align: right;
    margin-top: 30px;
}

.overlay a {
    text-decoration: none;

    color: $backgroundColor;
    display: block;
    transition: 0.3s;
    margin-right: $block2;
}

.overlay a:hover,
.overlay a:focus {
    text-decoration: line-through;
}

.overlay .closebtn {
    position: absolute;
    top: $block2;
    right: 0;

    width: $block3;
    fill: $backgroundColor;
}

span {
    display: none;
    width: $block3;
    position: fixed;
    top: $block2;
    right: $block2;
    z-index: 3;
    svg {
        fill: $bodyColor;
    }
}

@media only screen and (max-width: 728px) {
    span {
        display: initial;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 729px) {
    span {
        display: initial;
    }    
}

@media screen and (max-height: 450px) {
}
