// * {
//   border-style: solid;
//   border-width: 1px;
// }

.post_title,
.post_content {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  padding-left: $block4;
}

.post_title_flex {
  display: grid;
  grid-template-columns: 1fr;
}

.post_content {
  width: 70%;
  font-size: 1.2rem;
  line-height: 1.8rem;

  h1 {
    font-size: 0.8rem;
    padding-top: $block3;

    opacity: 0.5;
    text-transform: uppercase;
  }
}

.post_body2 {
  margin: auto;
  width: 95%;
  position: relative;
  padding: $block2 0 $block4 0;
  margin-bottom: -$block5;
}

.back {
  position: relative;
  font-size: 3rem;
  width: 95%;
  margin: auto;
  margin-top: $block2;
  a {
    text-decoration: none;
    color: $bodyColor;
  }
}

.post_title {
  padding-top: $block4;
  width: 70%;
  font-family: "basier_circlesemi";
  font-size: 6rem;
  text-align: left;
  line-height: 6rem;
  margin-left: -$block1;
  padding-bottom: $block3;

  h1 {
    margin-left: $block1;
    line-height: 2rem;
    padding-top: $block2;
  }
  h3 {
    line-height: 0rem;
    margin-left: $block1;
    font-weight: normal;
  }
}

.post_body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  width: 95%;

  position: relative;
  padding: $block2 0 $block4 0;
  img {
    width: 100%;
  }
}

.post_column {
  display: grid;
  grid-template-columns: auto auto;

  border-style: solid;
  border-width: 0 0 0px 0;
}

.copyright_footer {
  margin-top: $block3;
}

@media only screen and (max-width: 728px) {
  .post_title_flex {
  }

  .post_body,
  .post_column {
    margin-top: $block3;
    width: 100%;
  }

  .post_body {
    overflow: hidden;
    img {
      width: 100vw;
      position: relative;
      left: 50%;

      margin-left: -50vw;
    }
  }

  .post_title {
    font-size: 4.2rem;
    line-height: 4.2rem;
    width: 100%;
    hyphens: auto;
    padding-bottom: 0;
    h1 {
      margin-left: $block1;
      font-size: 1.2rem;
      line-height: 2rem;
      padding-top: $block2;
    }
  }

  .post_title,
  .post_content {
    padding-top: $block3;
    margin: auto;
    width: 90%;
    padding-left: 0;
  }
  .post_content {
    font-size: 1.2rem;
    line-height: 1.5rem;

    h1 {
      font-size: 0.8rem;
      padding-top: $block3;

      opacity: 0.5;
      text-transform: uppercase;
    }
  }

  .copyright_footer {
    margin-top: $block1;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 729px) {
  .post_body2 {
    margin: auto;
    width: 95%;
    position: relative;
    padding: $block2 0 $block4 0;
    margin-bottom: -$block3;
  }

  .post_body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 100%;
    position: relative;
    padding: $block2 0 $block4 0;
    overflow: hidden;
    img {
      width: 110vw;
      position: relative;
      left: 50%;
      margin-left: -50vw;
    }
  }
}

.share-btn,
.share-email {
  display: inline-block;
  color: $backgroundColor;
  fill: $bodyColor;
  border: none;
  padding: 3px 20px 3px 0px;
  outline: none;
  text-align: center;
  font-family: "basier_circleregular";
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.7rem;
  margin: 0 0.25em;
  border-radius: 10px;
  line-height: 0px;

  svg {
    width: 15px;
    margin: none;
    padding: none;
  }
}

.share-btn:focus,
.share-btn:hover,
.share-email:focus,
.share-email:hover {
  text-decoration: none;
  opacity: 0.5;
}

// .share-btn:active {
//   color: #e2e2e2;
// }

// .share-btn.twitter { background: #55acee; }
// .share-btn.facebook { background: #3B5998; }
// .share-btn.email { background: #444444; }

@media only screen and (max-device-width: 320px),
  only screen and (min-device-width: 560px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 3) {
  .post_title_flex {
    display: inline;

    h3 {
      line-height: 0.9rem;
    }
  }
}
