<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <script src="https://kit.fontawesome.com/b7dcab30d5.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>

  {{ content}}

  {% include header.html %}

  <!-- LANDING TITLE -->
  <div class="index_body">
    <div class="index_column">
      <div class="title">OTHER<br> PEOPLE<br>
        <h3>{{ page.quarter }} — Collection No. {{ page.collection_no_ }}</h3>
        <h3>Much love from University of California, San Diego</h3>
      </div>
    </div>

    <!-- <div class="featured_image">
      {% if page.featured %}
      <img src="{{site.baseurl}}{{ page.featured }}">
      {% endif %}
    </div> -->


    <!-- RECENT VISUAL ARTS HEADER -->
    <div class="index_column_child">
      <div class="category">Recent Visual Arts</div>
      <h1>Nothing yet!<br>Check back soon for spring updates 👻 </h1>
      <div class="recent_works_art_parent">

        <!-- VISUAL ARTS -->
        {% for post in site.categories['Visual Arts']  limit:2 %}
        <div class="recent_works">
          <a href="{{site.baseurl}}{{ post.url }}">
            <div class="thumb">
              <img src="{{site.baseurl}}{{ post.thumb }}">
            </div>
            <h1>{{ post.title }}</h1>
            <h3> by {{ post.contributor }}</h3>
          </a>
          <h3>
            <b>{{ post.category }}</b> —
            <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time>
          </h3>
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- RECENT LITERATURE HEADER -->
    <div class="index_column_child">
      <div class="category">Recent Literature</div>
      <div class="recent_works_parent">

        <!-- POETRY -->
        {% for post in site.categories['Poetry']   limit:3 %}
        <div class="recent_works">
          <a href="{{site.baseurl}}{{ post.url }}">
            <h1>{{ post.title }}</h1>
            <h3> by {{ post.contributor }}</h3>
          </a>
          <h3>
            <b>{{ post.category }}</b> —
            <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time>
          </h3>
        </div>
        {% endfor %}

        <!-- FICTION -->
        {% for post in site.categories['Fiction']   limit:4 %}
        <div class="recent_works">
          <a href="{{site.baseurl}}{{ post.url }}">
            <h1>{{ post.title }}</h1>
            <h3> by {{ post.contributor }}</h3>
          </a>
          <h3>
            <b>{{ post.category }}</b> —
            <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time>
          </h3>
        </div>
        {% endfor %}

        <!-- NONFICTION -->
        {% for post in site.categories['Nonfiction']   limit:3 %}
        <div class="recent_works">
          <a href="{{site.baseurl}}{{ post.url }}">
            <h1>{{ post.title }}</h1>
            <h3> by {{ post.contributor }}</h3>
          </a>
          <h3>
            <b>{{ post.category }}</b> —
            <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time>
          </h3>
        </div>
        {% endfor %}
      </div>
    </div>

  </div>


  {% include footer.html %}

  <!-- THIS DISABLES RIGHT CLICK -->
  {% include disable_copy.html %}
  
  <!-- {% include filters.html %} -->










</body>

</html>