<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <script src="https://kit.fontawesome.com/b7dcab30d5.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="scripts/jquery.cookies.2.2.0.min.js"></script>
  {% include favicons.html %}
</head>


<body>





  {{ content}}

  {% include header.html %}






  <!-- LANDING TITLE -->
  <div class="index_body">
    <div class="title">OTHER<br>PEOPLE<br></div>
    <div class="index_column">
      <div class="title_sub">
        <h3>{{ page.quarter }} — Collection No. {{ page.collection_no_ }}</h3>
      </div>
      <br>
      <div class="title_sub">
        <a href="{{ site.url }}{{ site.baseurl }}/collection"> <button class="button">Discover</button></a>
      </div>

    </div>

    <!-- <div class="featured_image">
      {% if page.featured %}
      <img src="{{site.baseurl}}{{ page.featured }}">
      {% endif %}
    </div> -->





        <!-- RECENT VISUAL ARTS HEADER -->
        <div class="index_column_child">
          <div class="category">Recent Visual Arts</div>
    
          <div class="recent_works_art_parent">
    
            <!-- VISUAL ARTS -->
            {% for post in site.categories['Visual Arts']  limit:2 %}
            <div class="recent_works_art">
              <a href="{{site.baseurl}}{{ post.url }}">
                <div class="thumb">
                  <img src="{{site.baseurl}}{{ post.thumb }}">
                </div>
                <h1>{{ post.title }}</h1>
              </a>
              <h3> by {{ post.contributor }}</h3>
    
              <h3>
                <b>{{ post.category }}</b> —
                <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time>
              </h3>
            </div>
            {% endfor %}
          </div>
        </div>




    <!-- RECENT LITERATURE HEADER -->
    <div class="index_column_child">
      <div class="category">Recent Literature</div>
      <div class="recent_works_parent">

        <!-- POETRY -->
        {% for post in site.categories['Poetry']   limit:3 %}
        <div class="recent_works">
          <a href="{{site.baseurl}}{{ post.url }}">
            <h1>{{ post.title }}</h1>
            <h3> by {{ post.contributor }}</h3>
          </a>
          <h3>
            <b>{{ post.category }}</b> —
            <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time>
          </h3>
        </div>
        {% endfor %}

        <!-- FICTION -->
        {% for post in site.categories['Fiction']   limit:3 %}
        <div class="recent_works">
          <a href="{{site.baseurl}}{{ post.url }}">
            <h1>{{ post.title }}</h1>
            <h3> by {{ post.contributor }}</h3>
          </a>
          <h3>
            <b>{{ post.category }}</b> —
            <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time>
          </h3>
        </div>
        {% endfor %}

        <!-- NONFICTION -->
        {% for post in site.categories['Nonfiction']   limit:3 %}
        <div class="recent_works">
          <a href="{{site.baseurl}}{{ post.url }}">
            <h1>{{ post.title }}</h1>
            <h3> by {{ post.contributor }}</h3>
          </a>
          <h3>
            <b>{{ post.category }}</b> —
            <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time>
          </h3>
        </div>
        {% endfor %}
      </div>
    </div>








  </div>


  {% include footer.html %}

  <!-- THIS DISABLES RIGHT CLICK -->
  {% include disable_copy.html %}
  {% include popup.html %}

  <!-- {% include filters.html %} -->







  {% include analytics.html %}

</body>

</html>