<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <script src="https://kit.fontawesome.com/b7dcab30d5.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="icon" type="image/png" href="../assets/TheFavicon.svg"/>
</head>

<body>


  {% include header.html %}

  <!-- <div class= "back"><a href="{{ site.url }}{{ site.baseurl }}">⬅</a></div> -->

  <div class="post_body">

    <div class="post_column">

      <div class="post_title">{{ page.title }}<br>
        <h1>by {{ page.contributor }}</h1>
        <h3> <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ page.date | date_to_long_string }}</time> —
          {{page.category}}</h3>
      </div>


    </div>

    <!-- <div class="featured_image">
      {% if page.featured %}
      <img src="{{site.baseurl}}{{ page.featured }}">
      {% endif %}
    </div> -->




    <div class="post_content">
      {{ content}}





      <div class="copyright_footer">
        <h4>This work belongs to {{ page.contributor }} ©
          <br> Copy, reproduction, and modification are not permitted without authorization
        </h4>
      </div>
    </div>




  </div>




  <div class="post_body2">


    {% if page.category == "Visual Arts" %}
    <div class="category">More Visual Arts</div>
    {% elsif page.category == "Poetry" %}
    <div class="category">More Poetry</div>
    {% elsif page.category == "Fiction" %}
    <div class="category">More Fiction</div>
    {% elsif page.category == "Nonfiction" %}
    <div class="category">More Nonfiction</div>
    {% endif %}

    <div class="recent_works_parent">

      {% if page.category == "Visual Arts" %}
      {% for post in site.categories['Visual Arts']   limit:3 %}
      <div class="recent_works">
        <a href="{{site.baseurl}}{{ post.url }}">
          <h1>{{ post.title }}</h1>
          <h3> by {{ post.contributor }}</h3>
        </a>
        <h3>
          <b>{{ post.category }}</b> —
          <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time>
        </h3>
      </div>
      {% endfor %}
      {% endif %}

      {% if page.category == "Poetry" %}
      {% for post in site.categories['Poetry']   limit:6 %}
      <div class="recent_works">
        <a href="{{site.baseurl}}{{ post.url }}">
          <h1>{{ post.title }}</h1>
          <h3> by {{ post.contributor }}</h3>
        </a>
        <h3>
          <b>{{ post.category }}</b> —
          <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time>
        </h3>
      </div>
      {% endfor %}
      {% endif %}

      {% if page.category == "Fiction" %}
      {% for post in site.categories['Fiction']   limit:6 %}
      <div class="recent_works">
        <a href="{{site.baseurl}}{{ post.url }}">
          <h1>{{ post.title }}</h1>
          <h3> by {{ post.contributor }}</h3>
        </a>
        <h3>
          <b>{{ post.category }}</b> —
          <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time>
        </h3>
      </div>
      {% endfor %}
      {% endif %}

      {% if page.category == "Nonfiction" %}
      {% for post in site.categories['Nonfiction']   limit:6 %}
      <div class="recent_works">
        <a href="{{site.baseurl}}{{ post.url }}">
          <h1>{{ post.title }}</h1>
          <h3> by {{ post.contributor }}</h3>
        </a>
        <h3>
          <b>{{ post.category }}</b> —
          <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time>
        </h3>
      </div>
      {% endfor %}
      {% endif %}
    </div>



    <div class="category">Explore</div>

    <div class="recent_works_parent">


      {% if page.previous.url %}
      <div class="recent_works">
        <a href="{{page.previous.url}}">
          <h1>{{page.previous.title}}</h1>
          <h3> by {{ page.previous.contributor }}</h3>
        </a>
        <h3>
          <b>{{ page.previous.category }}</b> —
          <time
            datetime="{{ page.previous.date | date: "%Y-%m-%d" }}">{{ page.previous.date | date_to_long_string }}</time>
        </h3>
      </div>
      {% endif %}


      {% if page.next.url %}
      <div class="recent_works">
        <a href="{{page.next.url}}">
          <h1>{{page.next.title}}</h1>
          <h3> by {{ page.next.contributor }}</h3>
        </a>
        <h3>
          <b>{{ page.next.category }}</b> —
          <time datetime="{{ page.next.date | date: "%Y-%m-%d" }}">{{ page.next.date | date_to_long_string }}</time>
        </h3>
      </div>
      {% endif %}





    </div>


  </div>


  {% include footer.html %}

  {% include disable_copy.html %}







</body>

</html>